<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form id="sign"  action="/home">

					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text"  placeholder="User name" id="name">
					<input type="text"  placeholder="Email" id="email">
					<input type="password" placeholder="Password" id="pass">
					<button>Sign up</button>
          <div id="error" class="text-center" style="color: red;"></div>
				</form>
			</div>

			<div class="login">
				<form id="login"  action="/home">


					<label for="chk" aria-hidden="true">Login</label>
					<input type="text"  placeholder="Email" id="email1">
					<input type="password" placeholder="Password" id="pasw">
					<button>Login</button>
          <div id="error2" class="text-center" style="color: red;"></div>
				</form>
			</div>
	</div>
</body>
</html>