<!-- Start Section News Leeter -->
<section id="newsletter" class="d-flex section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For NewsLetters</h4>
    <p>
      Get E-mail Updates about our Latest Shop And <span>Special Offers</span>
    </p>
  </div>
  <div class="form d-flex">
    <input type="text" placeholder="Your E-mail Address " />
    <button class="normal">Sign Up</button>
  </div>
</section>

<!-- Start Footer -->
<footer class="section-p1 d-flex">
  <div class="col">
    <img src="img/dragon.png" alt="" />
    <h4>Contact</h4>
    <p><strong>Address: </strong> Elgalaa Street , Elmansoura</p>
    <p><strong>Phone: </strong> +201545481132 / (+50) 4522913</p>
    <p><strong>Hour: </strong>10:00 am _ 10:00 pm</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About Us</a>
    <a href="#">Delivery Information </a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Condition</a>
    <a href="#">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>
  <div class="col install">
    <h4>Install App</h4>
    <p>Form App Store Or Google Play</p>
    <div class="row d-fle">
      <img src="img/pay/app.jpg" alt="App Store Image" />
      <img src="img/pay/play.jpg" alt="Play Store Image" />
    </div>
    <p>Secured Payment Gateways</p>
    <img src="img/pay/pay.png" alt="Payment Image" />
  </div>
  <div class="copyright">
    <p>2024 , Dragons Team - E-Commerce Template HTML | CSS | JS | Angular</p>
  </div>
</footer>
